body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: monospace;
	cursor: default;
	height: 100%;
}

span {
	color: purple;
}

blockquote {
	border-left: solid;
	margin-left: 0;
	padding-left: 25px;
	font-size: 1.5vw;
	color: rgba(169,169,169, 0.5);
}

body nav {
	padding-left: 2.5vw;
	font-size: 1.2vw;
}

body main {
	padding-top: 10vh;
	margin: 5vw;
	display: flex;
	gap: 10%;

}

body main .mainFlex {
	flex: 1;
	align-content: center;
}

@keyframes image-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(15deg);
	}
}

#imageDiv img {
	animation: image-rotate 5s ease-in-out infinite alternate;
	width: 25vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: solid purple 5px;
	box-shadow: 1px 1px 50px rgba(128, 0, 128, 1);
}

.mainFlex div {
	display: flex;
	gap: 10vw;
}

body main div button {
	border-radius: 50%;
	border: none;
	width: 3vw;
	height: 3vw;
	background-color: #191919;
	border: solid purple 2px;
	box-shadow: 1px 1px 50px rgba(128, 0, 128, 1);

}

button {
	cursor: pointer;
	color: white;
}

button:hover {
	transition: 1s;
	transform: rotate(45deg);
	width: 4vw;
	height: 4vw;
}
button img {
	width: 2vw;
	display: flex;

}
